<!DOCTYPE html>
<html lang="ja">
    <head>
        <form method="post" name="form_1" id="form_1" action="/top">
            <link rel="stylesheet" type="text/css" href="/design.css">
                <div class="cp_iptxt">
                    <input class="ef" type="text" name = "mozi1">
                    <label>UserID : </label>
                    <span class="focus_line"><i></i></span>
                </div>
                <div class="cp_iptxt">
                    <input class="ef" type="text" placeholder="" name="mozi2">
                    <label>Pass : </label>
                    <span class="focus_line"><i></i></span>
                </div>
            <a class="btn btn-border" href="javascript:form_1.submit()"><span>Login</span></a>
        </from>
        <h1><%=log%></h1>
    </head>
</html>